body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:687px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:384px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:260px;
  width:387px;
  height:384px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:157px;
  width:378px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(57, 136, 211, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:495px;
  width:285px;
  height:36px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:34px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:552px;
  width:274px;
  height:34px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:270px;
  word-wrap:break-word;
}
